PORT=5000
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/pronat?retryWrites=true&w=majority
JWT_SECRET=ndrysho_kete_ne_nje_varg_te_gjate_dhe_te_rastesishem
ADMIN_EMAIL=admin@pronat.com
ADMIN_PASSWORD=admin123
CLIENT_URL=http://localhost:5173
